.btn-cities {
  background-color: #088da5;
  color: #FFF;
}

.btn-cities:hover {
  background-color: #077e94;
  color: #FFF;
}

.btn-city {
  background-color: #088da5;
  color:#FFF;
}

.btn-city:hover {
  background-color:#077e94;
  color: #FFF;
}


.btn-nav {
  margin-top: 5px;
  margin-left: 700px;
  background-color: #088da5;
  color: #FFF;
}

.btn-nav:hover {
  background-color: #077e94;
  color: #FFF;
}

.btn-nav2 {
  margin-top: 5px;
  margin-left: 10px;
  background-color: #FFD700;
  color: black;
}

.btn-nav2:hover {
  background-color: #077e94;
  color: #FFF;
}
