.btn-cities {
  background-color: #088da5;
  color: #FFF;
}

.btn-cities:hover {
  background-color: #077e94;
  color: #FFF;
}

.btn-city {
  background-color: #088da5;
  color:#FFF;
}

.btn-city:hover {
  background-color:#077e94;
  color: #FFF;
}
